//color
$bg: white;

//dimension
$len-0: 4px;
$len-1: 8px;
$len-2: 16px;
$len-3: 24px;
$len-4: 32px;
$len-5: 40px;
$len-6: 48px;
$len-7: 56px;
$len-8: 72px;
$len-9: 80px;
$len-10: 88px;

//font-size
$font-xs: 8px;
$font-s: 16px;
$font-m: 24px;
$font-l: 32px;
$font-xl: 40px;
$font-xxl: 48px;

//decoration
$shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
$radius: $len-1;

//color
$icon-main: grey;
$blue: #438FC1;
