@use 'variables' as *;

.resultpane {
	position: absolute;
	height: 92vh;
	width: calc($len-10 * 4 + $len-2);
    padding: $len-2;
	margin: $len-1;
	background-color: $bg;
	z-index: 1;
	border-radius: $radius;
	box-shadow: $shadow;
}